---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2024 - 2025",
    title: "Cambio de Imagen Corporativa",
    company: "Ufara Power Networks",
    description:
      "Implemente el cambio de imagen corporativa en sus folletos y anuncios publicitarios con el objetivo de conectar más con las personas y con los clientes, mediante el software indskape.",
  },
  
  
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
