---
import Project from "./Project.astro";
const allPosts = await Astro.glob("../../pages/portfolio/projects/*.md");
// Sort by descending date (most recent first)
allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime(),
);
---

<section class="relative pt-8 pb-32 max-2xl:px-8 max-md:pt-4">
  <div class="mx-auto max-w-7xl py-8">
    <slot />
  </div>

  <div
    id="containerProjects"
    class="mx-auto max-w-7xl grid grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 gap-5 p-2 py-4 max-h-[150vh] overflow-hidden transition-[max-height] duration-500 ease-in-out"
  >
    <Project
      url="https://github.com/Diegosoltri/Ecoespacio-digital-TEC"
      title="Greenify"
      description="Aplicación desarrollada para Ecoespacio, con el objetivo de contribuir a la lucha contra la contaminación mediante soluciones tecnológicas que fomentan prácticas sostenibles y conciencia ambiental."
      date="2024-05-12"
      
      image="../../../images/Grenify.jpg"
    />
    <Project
      url="https://github.com/GadiroC/toposFc"
      title="Topos FC"
      description="Plataforma para la organización de torneos de fútbol por equipos, diseñada con un enfoque inclusivo para personas con discapacidad visual, promoviendo la participación equitativa y accesible para todos los jugadores."
      date="2023-06-01"
      
      image="../../../images/toposfc.jpg"
    />
    <Project
      url="https://bitbucket.org/proyectos-tec-itc/ph-frontend/src/main/"
      title="Patrones hermosos"
      description="Aplicación web desarrollada con React para la administración de un bootcamp de programación dirigido a mujeres. El prototipado de la interfaz se realizó en Figma, con un enfoque centrado en ofrecer la mejor experiencia de usuario posible mediante un diseño claro, funcional y bien estructurado. "
      date="2025-05-01"
      languages={['JavaScript', 'React']}
      image="../../../images/patronesHermosos.png"
    />

    <Project
      url="https://drive.google.com/drive/folders/15yiN5cBi22iMWFpb7bsbXi2tzsJdEqDf?usp=sharing"
      title="Ufara Power Networks"
      description="Cambio de imagem corporativa a un proyecto de energia electrica, con el objetivo de conectar mas con las personas y con los clientes, mediante el software indskape."
      date="2025-05-01"
      languages={['JavaScript', 'React']}
      image="../../../images/ufara.png"
    />

   
  </div>

  <div
    id="moreProjects"
    class="absolute bottom-0 left-0 w-full flex justify-center text-center bg-gradient-to-t from-[#FBFEFD] dark:from-[#0e0e10] from-55% to-transparent to-100% pb-30 pt-52"
  >
  </div>
</section>

<script>
  document.querySelector("#moreProjects")?.addEventListener("click", () => {
    const contenedor = document.querySelector("#containerProjects") as HTMLElement;
    const moreprojects = document.querySelector("#moreProjects");

    if (contenedor && moreprojects) {
      // Use a very large max height to show all content
      contenedor.style.maxHeight = "15000px";
      // Hide the view more button
      setTimeout(() => {
        moreprojects.classList.add("hidden");
      }, 5000);
    }
  });
</script>
